---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Aggionare Digital">
	<main>
		<header
			class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full text-sm py-4 dark:bg-neutral-800 text-white"
		>
			<nav
				class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
				aria-label="Global"
			>
				<div class="flex items-center justify-between">
					<a
						class="flex-none text-xl me-10 font-semibold text-white"
						href="#">Aggiornare Digital</a
					>
					<div class="sm:hidden">
						<button
							type="button"
							class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10"
							data-hs-collapse="#navbar-alignment"
							aria-controls="navbar-alignment"
							aria-label="Toggle navigation"
						>
							<svg
								class="hs-collapse-open:hidden flex-shrink-0 size-4"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								><line x1="3" x2="21" y1="6" y2="6"></line><line
									x1="3"
									x2="21"
									y1="12"
									y2="12"></line><line
									x1="3"
									x2="21"
									y1="18"
									y2="18"></line></svg
							>
						</button>
					</div>
				</div>
				<div
					id="navbar-alignment"
					class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block"
				>
					<div
						class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:mt-0 sm:ps-5"
					>
						<a
							class="font-medium hover:font-large dark:text-neutral-400 dark:hover:text-neutral-500"
							href="#"
							aria-current="page">Home</a
						>
						<a
							class="font-medium hover:text-gray-600 dark:text-neutral-400 dark:hover:text-neutral-500"
							href="#">Servicios</a
						>
						<!-- <a
							class="font-medium text-gray-600 hover:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500"
							href="#">Work</a
						> -->
						<a
							class="font-medium hover:text-gray-600 dark:text-neutral-400 dark:hover:text-neutral-500"
							href="#">Contacto</a
						>
					</div>
				</div>
			</nav>
		</header>
		<section>
			<div></div>
			<div>
				<svg
					class="absolute -z-10 lg:bottom-[-10px] xl:bottom-[-65px] hidden lg:block w-full"
					viewBox="0 0 1600 1673"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M0 1567.64C0 1567.64 170.251 1673.02 397.11 1673C497.646 1673.01 609.301 1652.34 722.19 1592.65C722.19 1592.65 1000.85 1444 1002.41 1034H1002.42V1030.77C1002.42 1030.62 1002.42 1030.46 1002.42 1030.31V1H980.142H0V821V1034V1567.64Z"
						fill="url(#paint0_linear_5455_2)"></path><path
						d="M1179.46 1335C1066.3 1231.32 1070.01 1037 1070.01 1037L1070.01 0H1599.79V351V718.5V1022V1177V1254V1327.5C1533.61 1458.72 1336.06 1459.86 1179.46 1335Z"
						fill="url(#paint1_linear_5455_2)"></path><defs
						><linearGradient
							id="paint0_linear_5455_2"
							x1="-84.5"
							y1="772"
							x2="-89.8101"
							y2="1302.42"
							gradientUnits="userSpaceOnUse"
							><stop stop-color="#BA67D3" class="gradient-start"
							></stop><stop
								offset="1"
								stop-color="#693FBD"
								class="gradient-end"></stop></linearGradient
						><linearGradient
							id="paint1_linear_5455_2"
							x1="1022.35"
							y1="758.939"
							x2="1013.77"
							y2="1253.9"
							gradientUnits="userSpaceOnUse"
							><stop stop-color="#BA67D3" class="gradient-start"
							></stop><stop
								offset="1"
								stop-color="#693FBD"
								class="gradient-end"></stop></linearGradient
						></defs
					></svg
				>
			</div>
		</section>

		<ul role="list" class="link-card-grid"></ul>
	</main>
</Layout>
